<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <link href="@Href("~/Style/style.css")" rel="stylesheet" type="text/css" />
    </head>
    <body class="ko">
     <div id="container">
        <div>
            <div>
                <h1>
                    Razor Board 입니다.</h1>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
